/* h1{
    text-align: center;
    color: aqua;
} */

/* Element selector */
/* p{
    color: aqua;
} */

/* id selector */
/* #para1{
    color: brown;
} */

/* class selector */
/* .paraclass{
    color: aquamarine;
} */

/* group selector */
/* p,article{
    width: 350px;
} */